# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
env.bak/
env1/
env2/
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Misc
*.bak
*.swp
*.tmp
*.tmp.*
*~
*.DS_Store
*.bak
*.cache
*.csv
*.db
*.db-shm
*.db-wal
*.pyc
*.sqlite3
*.swp
*.xlsx
*.xls
*.pydevproject
.project
.pytproject
.idea/
.vscode/

recenv/*
recommend_env/*